absl-py
altair
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
Bottleneck
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
daal
debugpy
decorator
defusedxml
dill
dnspython
entrypoints
executing
fastjsonschema
filelock
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-pasta
grpcio
h11
h5py
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl-service
mkl_fft
mkl_random
ml_dtypes
mpmath
mysql-connector-python
namex
narwhals
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numexpr
numpy
opt_einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
ply
prometheus_client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
pymongo
pyparsing
PyQt5
PyQt5_sip
PySocks
pythainlp
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-learn
scikit-learn-intelex
scipy
seaborn
Send2Trash
sip
six
smmap
sniffio
soupsieve
stack-data
streamlit
sympy
tbb
tcmlib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
win-inet-pton
wrapt
